.text-gradient-dark {
  background: linear-gradient(45deg, #f8f8f8, #37a39a, #3a3a3a);
  background-clip: text;
  color: transparent;
}
.text-gradient {
  background: linear-gradient(45deg, #3a3a3a, #37a39a, #f8f8f8);
  background-clip: text;
  color: transparent;
}

.bg-shape {
  width: 600px;
  height: 600px;
  border-radius: 999px;
  position: absolute;
  opacity: 0;
  animation: one 20s infinite ease;
  animation-delay: 5s;
}

@keyframes one {
  0% {
    opacity: 0;
    left: 0;
    bottom: 30%;
  }
  25% {
    opacity: 1;
    left: 50%;
    bottom: 120%;
  }
  50% {
    opacity: 1;
    right: 10%;
    bottom: 110%;
  }
  75% {
    opacity: 0;
    right: 20%;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    right: 100%;
    bottom: 0%;
  }
}
